USE [master]
GO
/****** Object:  Database [worldCup2022]    Script Date: 08.11.2023 23:39:17 ******/
CREATE DATABASE [worldCup2022]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'worldCup2022', FILENAME = N'D:\інше\MSSQL16.MSSQLSERVER\MSSQL\DATA\worldCup2022.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'worldCup2022_log', FILENAME = N'D:\інше\MSSQL16.MSSQLSERVER\MSSQL\DATA\worldCup2022_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [worldCup2022].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [worldCup2022]
GO
/****** Object:  Table [dbo].[Team]    Script Date: 08.11.2023 23:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Team](
	[team_id] [varchar](50) NOT NULL,
	[country] [varchar](20) NOT NULL,
	[manager_id] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[team_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Matches]    Script Date: 08.11.2023 23:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matches](
	[result] [varchar](10) NOT NULL,
	[team_id] [varchar](50) NOT NULL,
	[match_id] [varchar](50) NOT NULL,
	[team2_id] [varchar](50) NOT NULL,
	[stage_name] [varchar](50) NOT NULL,
	[stadium_loc] [varchar](60) NOT NULL,
	[match_date] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[match_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Goal]    Script Date: 08.11.2023 23:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Goal](
	[goal_id] [varchar](50) NOT NULL,
	[goal_time] [varchar](20) NULL,
	[in_game_goal] [bit] NOT NULL,
	[player_id] [varchar](50) NOT NULL,
	[match_id] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[goal_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[tournament_statistics]    Script Date: 08.11.2023 23:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[tournament_statistics] AS
SELECT
    COALESCE(m.team_id, m.team2_id) as team_id,
    COUNT(CASE WHEN (m.team_id = t.team_id AND g.in_game_goal = 1) OR (m.team2_id = t2.team_id AND g.in_game_goal = 0) THEN 1 END) as goals_for,
    COUNT(CASE WHEN (m.team2_id = t.team_id AND g.in_game_goal = 1) OR (m.team_id = t2.team_id AND g.in_game_goal = 0) THEN 1 END) as goals_against,
 COUNT(CASE WHEN g.in_game_goal IN (0, 1) THEN 1 END) as goal_difference,
 COUNT(CASE WHEN g.in_game_goal = 1 THEN 1 END) as penalties
FROM Goal g
LEFT JOIN Matches m ON g.match_id = m.match_id
Left join Team as t on m.team_id = t.team_id
left join Team as t2 on m.team2_id = t2.team_id
GROUP BY COALESCE(m.team_id, m.team2_id);
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 08.11.2023 23:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[match_id] [varchar](50) NULL,
	[player_id] [varchar](50) NULL,
	[team_id] [varchar](50) NULL,
	[book_minute] [varchar](10) NOT NULL,
	[first_yellow] [bit] NOT NULL,
	[red] [bit] NOT NULL,
	[second_yellow] [bit] NOT NULL,
	[g_period] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GPlaces]    Script Date: 08.11.2023 23:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GPlaces](
	[place_id] [varchar](20) NOT NULL,
	[team_id] [varchar](50) NOT NULL,
	[group_name] [varchar](10) NOT NULL,
	[place_number] [int] NOT NULL,
	[PassToKnockout] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[place_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inserted]    Script Date: 08.11.2023 23:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inserted](
	[goal_id] [varchar](50) NULL,
	[player_id] [varchar](50) NULL,
	[match_id] [varchar](50) NULL,
	[goals_scored] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[managers]    Script Date: 08.11.2023 23:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[managers](
	[manager_id] [varchar](50) NOT NULL,
	[team] [varchar](50) NOT NULL,
	[first_name] [varchar](20) NOT NULL,
	[last_name] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[manager_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Player]    Script Date: 08.11.2023 23:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Player](
	[player_id] [varchar](50) NOT NULL,
	[First_Name] [varchar](50) NOT NULL,
	[Last_Name] [varchar](50) NOT NULL,
	[Team] [varchar](50) NOT NULL,
	[age] [int] NOT NULL,
	[position] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[player_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[player_team]    Script Date: 08.11.2023 23:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[player_team](
	[player_id] [varchar](50) NOT NULL,
	[team_id] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ref_match]    Script Date: 08.11.2023 23:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ref_match](
	[match_id] [varchar](50) NOT NULL,
	[ref_id] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Referees]    Script Date: 08.11.2023 23:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Referees](
	[ref_id] [varchar](50) NOT NULL,
	[country] [varchar](20) NOT NULL,
	[First_Name] [varchar](50) NOT NULL,
	[Last_Name] [varchar](50) NOT NULL,
	[bookings] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ref_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stage]    Script Date: 08.11.2023 23:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stage](
	[stage_id] [varchar](50) NOT NULL,
	[stage_name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[stage_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[top_scorers]    Script Date: 08.11.2023 23:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[top_scorers](
	[player_id] [varchar](50) NULL,
	[goals_scored] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Goal] ([goal_id], [goal_time], [in_game_goal], [player_id], [match_id]) VALUES (N'G-1', N'16', 1, N'P-75912', N'M-2022-01')
INSERT [dbo].[Goal] ([goal_id], [goal_time], [in_game_goal], [player_id], [match_id]) VALUES (N'G-10', N'90+13', 1, N'P-85860', N'M-2022-02')
INSERT [dbo].[Goal] ([goal_id], [goal_time], [in_game_goal], [player_id], [match_id]) VALUES (N'G-100', N'40', 0, N'P-47490', N'M-2022-41')
GO
INSERT [dbo].[GPlaces] ([place_id], [team_id], [group_name], [place_number], [PassToKnockout]) VALUES (N'PL-1', N'T-1', N'A', 4, 0)
INSERT [dbo].[GPlaces] ([place_id], [team_id], [group_name], [place_number], [PassToKnockout]) VALUES (N'PL-10', N'T-18', N'A', 3, 0)
INSERT [dbo].[GPlaces] ([place_id], [team_id], [group_name], [place_number], [PassToKnockout]) VALUES (N'PL-11', N'T-19', N'H', 3, 0)
GO
INSERT [dbo].[inserted] ([goal_id], [player_id], [match_id], [goals_scored]) VALUES (N'G-300', N'P-64077', N'M-675675', 1)
GO
INSERT [dbo].[managers] ([manager_id], [team], [first_name], [last_name]) VALUES (N'M-002', N'Ghana', N'Otto', N'Addo')
INSERT [dbo].[managers] ([manager_id], [team], [first_name], [last_name]) VALUES (N'M-011', N'Ecuador', N'Gustavo', N'Alfaro')
INSERT [dbo].[managers] ([manager_id], [team], [first_name], [last_name]) VALUES (N'M-012', N'Uruguay', N'Diego', N'Alonso')
GO
INSERT [dbo].[Matches] ([result], [team_id], [match_id], [team2_id], [stage_name], [stadium_loc], [match_date]) VALUES (N'Lose', N'T-1', N'M-2022-01', N'T-18', N'group stage - Group A', N'Al Khor - Al Bayt Stadium', NULL)
INSERT [dbo].[Matches] ([result], [team_id], [match_id], [team2_id], [stage_name], [stadium_loc], [match_date]) VALUES (N'Win', N'T-10', N'M-2022-02', N'T-14', N'group stage - Group B', N'Al Rayyan - Khalifa International Stadium', NULL)
INSERT [dbo].[Matches] ([result], [team_id], [match_id], [team2_id], [stage_name], [stadium_loc], [match_date]) VALUES (N'Lose', N'T-22', N'M-2022-03', N'T-12', N'group stage - Group A', N'Doha - Al Thumama Stadium', NULL)
GO
INSERT [dbo].[Player] ([player_id], [First_Name], [Last_Name], [Team], [age], [position]) VALUES (N'P-00052', N'not applicable', N'Ro-Ro', N'Qatar', 32, N'defender')
INSERT [dbo].[Player] ([player_id], [First_Name], [Last_Name], [Team], [age], [position]) VALUES (N'P-00232', N'Sergio', N'Rochet', N'Uruguay', 29, N'goalkeeper')
INSERT [dbo].[Player] ([player_id], [First_Name], [Last_Name], [Team], [age], [position]) VALUES (N'P-00244', N'Fabian', N'Frei', N'Switzerland', 33, N'midfielder')
GO
INSERT [dbo].[player_team] ([player_id], [team_id]) VALUES (N'P-47319', N'T-1')
INSERT [dbo].[player_team] ([player_id], [team_id]) VALUES (N'P-33804', N'T-1')
INSERT [dbo].[player_team] ([player_id], [team_id]) VALUES (N'P-38732', N'T-1')
GO
INSERT [dbo].[Ref_match] ([match_id], [ref_id]) VALUES (N'M-2022-01', N'R-327')
INSERT [dbo].[Ref_match] ([match_id], [ref_id]) VALUES (N'M-2022-02', N'R-093')
INSERT [dbo].[Ref_match] ([match_id], [ref_id]) VALUES (N'M-2022-03', N'R-386')
GO
INSERT [dbo].[Referees] ([ref_id], [country], [First_Name], [Last_Name], [bookings]) VALUES (N'R-013', N'Qatar', N'Abdulrahman', N'Al-Jassim', 23)
INSERT [dbo].[Referees] ([ref_id], [country], [First_Name], [Last_Name], [bookings]) VALUES (N'R-044', N'Slovenia', N'Ivan', N'Barton', 0)
INSERT [dbo].[Referees] ([ref_id], [country], [First_Name], [Last_Name], [bookings]) VALUES (N'R-047', N'Australia', N'Chris', N'Beath', 31)
GO
INSERT [dbo].[Stage] ([stage_id], [stage_name]) VALUES (N'ST-12', N'final')
INSERT [dbo].[Stage] ([stage_id], [stage_name]) VALUES (N'ST-1', N'group stage - Group A')
INSERT [dbo].[Stage] ([stage_id], [stage_name]) VALUES (N'ST-2', N'group stage - Group B')
GO
INSERT [dbo].[Team] ([team_id], [country], [manager_id]) VALUES (N'T-1', N'Qatar', N'M-373')
INSERT [dbo].[Team] ([team_id], [country], [manager_id]) VALUES (N'T-10', N'England', N'M-405')
INSERT [dbo].[Team] ([team_id], [country], [manager_id]) VALUES (N'T-11', N'Switzerland', N'M-471')
GO
INSERT [dbo].[top_scorers] ([player_id], [goals_scored]) VALUES (N'P-64077', 8)
INSERT [dbo].[top_scorers] ([player_id], [goals_scored]) VALUES (N'P-14758', 7)
INSERT [dbo].[top_scorers] ([player_id], [goals_scored]) VALUES (N'P-19776', 4)
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([match_id])
REFERENCES [dbo].[Matches] ([match_id])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([player_id])
REFERENCES [dbo].[Player] ([player_id])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([team_id])
REFERENCES [dbo].[Team] ([team_id])
GO
ALTER TABLE [dbo].[Goal]  WITH CHECK ADD FOREIGN KEY([match_id])
REFERENCES [dbo].[Matches] ([match_id])
GO
ALTER TABLE [dbo].[Goal]  WITH CHECK ADD FOREIGN KEY([player_id])
REFERENCES [dbo].[Player] ([player_id])
GO
ALTER TABLE [dbo].[GPlaces]  WITH CHECK ADD FOREIGN KEY([team_id])
REFERENCES [dbo].[Team] ([team_id])
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD FOREIGN KEY([stage_name])
REFERENCES [dbo].[Stage] ([stage_name])
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [FK__Matches__team1_id__403A8C7D] FOREIGN KEY([team_id])
REFERENCES [dbo].[Team] ([team_id])
GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [FK__Matches__team1_id__403A8C7D]
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [FK__Matches__team2_id__4D94879B] FOREIGN KEY([team2_id])
REFERENCES [dbo].[Team] ([team_id])
GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [FK__Matches__team2_id__4D94879B]
GO
ALTER TABLE [dbo].[player_team]  WITH CHECK ADD FOREIGN KEY([player_id])
REFERENCES [dbo].[Player] ([player_id])
GO
ALTER TABLE [dbo].[player_team]  WITH CHECK ADD FOREIGN KEY([team_id])
REFERENCES [dbo].[Team] ([team_id])
GO
ALTER TABLE [dbo].[Ref_match]  WITH CHECK ADD FOREIGN KEY([match_id])
REFERENCES [dbo].[Matches] ([match_id])
GO
ALTER TABLE [dbo].[Ref_match]  WITH CHECK ADD FOREIGN KEY([ref_id])
REFERENCES [dbo].[Referees] ([ref_id])
GO
ALTER TABLE [dbo].[top_scorers]  WITH CHECK ADD FOREIGN KEY([player_id])
REFERENCES [dbo].[Player] ([player_id])
GO
/****** Object:  Trigger [dbo].[calculate_top_scorers]    Script Date: 08.11.2023 23:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[calculate_top_scorers]
ON [dbo].[Goal]
AFTER INSERT
AS
BEGIN
  DECLARE @top_scorer INT;
  SELECT @top_scorer = ISNULL(MAX(goals_scored), 0) FROM top_scorers;
  
  IF EXISTS (SELECT 1 FROM inserted)
  BEGIN
    DECLARE @new_goals_scored INT;
    SELECT @new_goals_scored = SUM(goals_scored) FROM dbo.inserted;
    
    IF @new_goals_scored > @top_scorer
    BEGIN
      DELETE FROM top_scorers;
      INSERT INTO top_scorers (player_id, goals_scored)
      SELECT player_id, @new_goals_scored FROM inserted;
    END
  END
END;
GO
ALTER TABLE [dbo].[Goal] ENABLE TRIGGER [calculate_top_scorers]
GO
/****** Object:  Trigger [dbo].[UpdatePassToKnockout]    Script Date: 08.11.2023 23:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[UpdatePassToKnockout]
ON [dbo].[GPlaces]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @team_id VARCHAR(10);
    DECLARE @place INT;
    
    SELECT @team_id = inserted.team_id, @place = inserted.place_number
    FROM inserted;
    
    IF @place IN (1, 2)
    BEGIN
        UPDATE GPlaces
        SET PassToKnockout = 1
        WHERE team_id = @team_id;
    END
    ELSE
    BEGIN
        UPDATE GPlaces
        SET PassToKnockout = 0
        WHERE team_id = @team_id;
    END
END;





GO
ALTER TABLE [dbo].[GPlaces] ENABLE TRIGGER [UpdatePassToKnockout]
GO
USE [master]
GO
